# Virtual env
.venv310/
.venv*/
venv/

# Python cache
__pycache__/
*.py[cod]
.pytest_cache/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs & builds
*.log
dist/
build/

# Project utilities
generate_tree.bat
tree_structure.txt
